<div class="container-fluid">
  <div class="row">
    
    <%= render 'layouts/profile_side_bar' %>
    
    <!--Content-->
    <div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 ck-content-profile">
      <div class="panel panel-default devise-bs">
        <div class="panel-heading">
          <h1 class="page-header text-center">My profile</h1>
            <div class="row ck-profile-images ">
              <div class="col-xs-6 col-sm-3 ck-profile-image">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4 class="ck-usernames"><%= current_user.full_name%></h4>
              </div>
              <hr class="divider ck-dividers"></hr>
              <div class="col-xs-6 col-sm-9 ck-userdetails">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, sunt, adipisci, saepe odit quia consectetur ex reiciendis numquam natus omnis sed tenetur rerum delectus incidunt amet veritatis nobis impedit nostrum.</p>
              </div>
            </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <!--button with tooltips-->
            <div class="col-xs-4 col-xs-offset-9 ck-columns">
              <li class="list-unstyled"><%= link_to "View Profile As", user_path(current_user), class: "btn btn-info ck-links"  %>
                  <span><i class="fa fa-2x fa-question-circle ck-tooltips" data-toggle="tooltip" data-placement="top" title="Profile view as other user"></i></span>
              </li>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>