<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="title">
        Do you have a team?
      </h1>
      <p class="about-content">
          No matter how big or small it is or just people who would like to connect with each other.. 
          The real time SaaS platform is developed to meet ends of small and big enterprises. A Ruby On Rails base chat software developed by <%= link_to "CodeKrieg", "https://codekrieg.com" %>&copy; a RoR software development company. 
          
          This a prototype only app. The final product will come soon.. stay tuned. 
        </p>
    </div>
  </div>
</div>