.ck-usernames {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 1em 0;
}
.ck-dividers {
  width: 20.33%;
  border-top: 1px solid #777777 !important;
  position: absolute;
  padding-bottom: 10em;
  padding-left: 8em;
  margin-top: 5em !important;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
  
}
.ck-userdetails{
  padding-left: 5em;
  font-weight: 400;
  
}
.ck-links{
  text-decoration: none;
  color: #3071A9;
  border: 0.15em solid #3071A9 ;
  border-radius: 0.5em;
  &:hover{
    background-color: #3071A9;
    color: #fff;
  }
  i{
    padding: 0.15em;
  }
}

.page-header{
  text-transform: uppercase;
  font-weight: 600;
}

.ck-tooltips{
  color: #31B0D5;
  font-size: 30px;
  vertical-align: middle;
  &:hover{
      -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  }
}

.ck-social{
  li{
    display: inline-block;
    letter-spacing: 0.20em;
    }
}


// Copyright CodeKrieg 2016
// Senior developers: Paul Badarau & Himanshu Patel