.navbar-default {
    // Gradiant
    background: #70e1f5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    // Shadow
    -webkit-box-shadow: 0 0.3em 0.25em -0.25em #999;
    -moz-box-shadow: 0 0.3em 0.25em -0.25em #999;
    box-shadow: 0 0.3em 0.25em -0.25em #999;
    
    // No border on the navigation bar
    border-bottom: none;
}

.ck-authentication-button {
    border: 0.20em solid #b2b2b2;
    border-radius: 20%;
    color: #b2b2b2 !important;
    font-weight: 700;
    margin-right: 0.5em;
}

.ck-badge{
    font-weight: 700;
    height: auto;
    margin-top: 0.65em;
    .badge{
        background-color: #b2b2b2;
        margin-right: 20px;
        height: auto;
         a{
        text-decoration: none;
        color: #fff;
        font-weight: 1000;
        }
    }
}
.ck-button{
    margin-top: 0.60em;
}

// Copyright CodeKrieg 2016
// Senior developers: Paul Badarau & Himanshu Patel