<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8  ck-social">
        <h1>Follow Us On</h1>
        <li class="list-unstyled">  <%=link_to "https://github.com/CodeKrieg" do %>
             <i class="fa fa-github ck-tooltips"></i>
           <% end %>
        </li>
        <li class="list-unstyled">  <%=link_to "https://twitter.com/CodeKrieg" do %>
             <i class="fa fa-twitter ck-tooltips"></i>
           <% end %>
        </li>
        <li class="list-unstyled">  <%=link_to "https://www.facebook.com/codekriegdev" do %>
             <i class="fa fa-facebook ck-tooltips"></i>
           <% end %>
        </li>
      </div>
    </div>
     <div class=" col-xs-offset-8 col-xs-4">
      <p class="text-muted text-center ck-footer">&copy; All Rights Reserved - CodeKrieg - <%= Time.now.year %></p>
    </div>
  </div>
</footer>