<!--Sidebar-->
<div class="col-sm-3 col-md-2 ck-sidebar-profile">
  <ul class="nav nav-sidebar">
    <li><%= nav_link "My Profile", my_profile_path %></li>
    <li><%= nav_link "My Friends", my_friends_path %></li>
  </ul>
  <hr/>
  <ul class="nav nav-sidebar">
    <li><%= nav_link "Edit profile", edit_user_registration_path %></li>
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
    <li><a href="">More navigation</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
  </ul>
</div>
<!--/. sidebar-->