<!--Sidebar-->
<div class="col-sm-3 col-md-2 ck-sidebar-profile">
  <ul class="nav nav-sidebar">
    <li><%= nav_link "My Profile", my_profile_path %></li>
    <li><%= nav_link "My Friends", my_friends_path %></li>
    <li><%= nav_link "Add New Friends", connect_path %></li>
  </ul>
</div>
<!--/. sidebar-->